<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>About Us</title>
    </head>
    <body>
        <h1>About Us</h1>
        <h3>What we do</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer in gravida orci. Sed elementum, leo id malesuada
        commodo, nisl orci auctor nisi, nec aliquet est lectus at tortor. Quisque a lectus eu nunc pellentesque eleifend vel
        et nibh. Donec dapibus orci non ante feugiat luctus. Ut ultrices tincidunt lectus eu commodo. Cras lacinia arcu
        ornare, pharetra purus eget, laoreet augue. Nulla vel urna sit amet elit tincidunt ultricies. Nulla at quam quis
        lectus gravida pretium nec et orci. Nulla dolor nibh, aliquam a leo vitae, placerat auctor nisl. Nullam volutpat
        facilisis lectus, nec fringilla leo iaculis vitae. Praesent id dignissim tellus. Nulla rhoncus massa ut malesuada
        ornare. Donec ut commodo enim.</p>
        <h3>Who we are</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer in gravida orci. Sed elementum, leo id malesuada
        commodo, nisl orci auctor nisi, nec aliquet est lectus at tortor. Quisque a lectus eu nunc pellentesque eleifend vel
        et nibh. Donec dapibus orci non ante feugiat luctus. Ut ultrices tincidunt lectus eu commodo. Cras lacinia arcu
        ornare, pharetra purus eget, laoreet augue. Nulla vel urna sit amet elit tincidunt ultricies. Nulla at quam quis
        lectus gravida pretium nec et orci. Nulla dolor nibh, aliquam a leo vitae, placerat auctor nisl. Nullam volutpat
        facilisis lectus, nec fringilla leo iaculis vitae. Praesent id dignissim tellus. Nulla rhoncus massa ut malesuada
        ornare. Donec ut commodo enim.</p>
        <a href="{% url 'home' %}">Home</a>
    </body>
</html>